.categories-container {
  padding-top: 20px;
}

.select-item-container {
  display: flex;
  /* align-items: center; */
  column-gap: 15px;
  justify-content: center;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.select-item-container h3 {
  color: #54bab9;
  width: 60px;
}
.categories-input-container {
  background-color: #fff;
  width: 269px;
  height: 45px;
  position: relative;
  box-shadow: 0px 3px 6px #0000001a;
  border-radius: 15px;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}
.categories-input-container input {
  width: 269px;
  height: 45px;
  border-radius: 15px;
  outline: 0;
  border: 0;
  padding-right: 10px;
  font-size: 15px;
  color: #54bab9;
}
.categories-input-container input::placeholder,
.categories-top-input-container input::placeholder,
.categories-search-box input::placeholder {
  color: #54bab83a;
}
.categories-input-container img {
  width: 22.5px;
  position: absolute;
  top: 15px;
  height: 15px;
  left: 10px;
}
.categories-top-section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
}
.categories-bottom-section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  margin: 0 auto;
  margin-top: 215px;
  width: 280px;
}
.categories-top-input-container {
  width: 226px;
  height: 45px;
  position: relative;
}
.categories-top-input-container input {
  width: 100%;
  box-shadow: 0px 3px 6px #0000001a;
  border-radius: 15px;
  height: 100%;
  outline: 0;
  border: 0;
  padding-right: 10px;
  font-size: 15px;
}

.categories-top-input-container img {
  position: absolute;
  top: 15px;
  width: 15px;
  height: 15px;
  left: 10px;
}
.categories-bottom-box {
  width: 100%;
  background-color: #fff;
  height: 230px;
  box-shadow: 0px 3px 6px #0000001a;
  border-radius: 15px;
  /* display: flex; */
  /* align-items: center; */
  padding-top: 10px;
  /* flex-direction: column; */
  row-gap: 10px;
  min-height: 0;
  overflow: auto;
  /* flex-wrap: wrap; */
}
.categories-bottom-box-item {
  width: 254px;
  height: 45px;
  background-color: #f7f7f7;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto;

  margin-bottom: 10px;

  /* min-height: min-content; */
}
.categories-bottom-box-item.editable {
  border: 1px solid #54bab9;
}
.categories-bottom-box-item-title {
  color: #54bab9;
  font-size: 20px;
  font-family: "iransans";
  font-weight: 300;
}
.categories-bottom-box-item-icons {
  display: flex;
  column-gap: 15px;
}
.categories-bottom-box-item-icons img {
  width: 20px;
  height: 20px;
}
.categories-button {
  width: 83px;
  height: 45px;
  background-color: #54bab9;
  color: white;
  border: 0;
  border-radius: 15px;
  outline: 0;
  font-size: 20px;
  font-weight: 200;
}
.dropdown-box {
  width: 269px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  top: 45px;
}
.height-224 {
  height: 210px;
}
.z-index {
  z-index: 99;
}
.categories-list-item {
  height: 164px;
  overflow-y: scroll;
}
.categories-list-item::-webkit-scrollbar {
  width: 0;
}
.categories-search-items-container {
  width: 100%;
  height: 134px;
}
.categories-item {
  font-size: 19px;
  color: #54bab9;
  padding: 5px;
  font-weight: 300;
  text-align: center;
}
.categories-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.categories-search-box {
  width: 359px;
  height: 45px;
  border: 0.2px solid #54bab952;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #0000001a;
  margin-bottom: 20px;
  margin-right: 100px;
  /* display: flex; */
  /* align-items: center; */
  padding-right: 10px;
  padding-left: 10px;
  /* justify-content: space-between; */
  transition: all 0.6s ease-in-out;
  position: absolute;
  z-index: 9999;
  background-color: #f7f7f7;
  overflow-y: scroll;
}
.categories-search-box::-webkit-scrollbar {
  width: 0;
}
.categories-search-line:last-child {
  opacity: 0;
  margin-bottom: 15px;
}
.categories-search-box.show-search {
  display: block;
}
.categories-search-box.show {
  height: 179px;
}
.categories-search-box input {
  background-color: transparent;
  width: 100%;
  height: 45px;
  border-radius: 15px;
  border: 0;
  outline: 0;
}
.categories-search-box img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.flex.space-between {
  display: flex;
  justify-content: space-between;
}
.categories-search-item {
  font-size: 15px;
  color: #54bab9;
  font-weight: 300;
}
.categories-search-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 0.5px solid #54bab952;
  margin: 10px auto;
  padding: 0;
  width: 90%;
}
.one {
  top: 20px;
}
.second {
  top: 75px;
}
.third {
  top: 130px;
}
.categories-bottom-box-item-editable {
  width: 80%;
  height: 80%;
  border: 0;
  outline: 0;
  background-color: #f7f7f7;
  font-size: 20px;
  color: #54bab9;
  font-weight: 300;
}
.delete-popup-background {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007c;
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  z-index: 99999;
}
.delete-popup-background.show {
  visibility: visible;
  opacity: 1;
}
.delete-popup-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 300px;
  border-radius: 20px;
  min-height: 150px;
  padding: 15px;
}
.delete-popup-body p {
  font-size: 20px;
  color: #54bab9;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}
.delete-popup-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 15px;
}
.def-btn {
  width: 100%;
  height: 39px;
  background-color: white;
  text-align: center;
}
.delete-popup-buttons-cancel {
  border: 0.5px solid #54bab9;
  border-radius: 15px;
  color: #54bab9;
  font-size: 20px;
  font-weight: 300;
}
.delete-popup-buttons-delete {
  border: 0.5px solid #ba5454;
  border-radius: 15px;
  color: #ba5454;
  font-size: 20px;
  font-weight: 300;
}
@media only screen and (min-width: 900px) {
  .one {
    top: 95px;
  }
  .second {
    top: 170px;
  }
  .third {
    top: 245px;
  }
  .categories-button {
    align-self: flex-end;
    margin-left: -110px;
  }
  .categories-bottom-box-item {
    margin: 5px;
  }
  .select-item-container {
    right: 12%;
    transform: translateX(12%);
  }
  .categories-bottom-section {
    margin-top: -20px;
    margin-right: 650px;
    padding-top: 115px;
    width: 548px;
    align-items: flex-start;
  }
  .categories-bottom-box {
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 50px;
    row-gap: 0;
  }
}
@media only screen and (min-width: 1150px) {
  .select-item-container {
    right: 10%;
    transform: translateX(10%);
  }
}
@media only screen and (max-width: 900px) {
  .categories-search-box {
    display: none;
  }
}
