.header-container {
  width: 100%;
  height: 50px;
  background-color: #54bab9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  box-shadow: 0px 2px 6px #00000029;
}
.header-container .search {
  width: 25px;
  height: 25px;
}
.header-container .menu {
  width: 40px;
  height: 25px;
}
.header-title {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.mobile-menu {
  /* display: none; */
  width: 0;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  /* right: -450px; */
  right: 0;
  top: 0;
  transition: all 0.3s ease-in;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  row-gap: 10px;
}
.mobile-menu.show {
  /* right: -50px; */
  width: 80%;
}
.mobile-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  z-index: 999;
}
.mobile-background.show {
  opacity: 1;
  visibility: visible;
}
.mobile-menu-item {
  width: 251px;
  height: 40px;
  border: 0.3px solid #54bab9;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-item p {
  font-size: 19px;
  color: #54bab9;
  font-weight: 300;
}
.active .mobile-menu-item {
  background-color: #54bab9;
}
.active .mobile-menu-item p {
  color: #fff;
  font-weight: 500;
}
.desktop-nav {
  display: none;
  width: 81px;
  background-color: #54bab9;
  height: 100vh;
  position: fixed;
  right: 0;
  transition: all 0.3s ease-in;
  z-index: 99999;
  box-shadow: -3px 0px 10px #00000026;
  flex-direction: column;
  justify-content: center;
  padding-right: 12px;
  padding-left: 12px;
  row-gap: 10px;
  overflow: hidden;
  /* align-items: center; */
}
.desktop-nav.show {
  width: 240px;
}
.desktop-nav-item {
  display: flex;
  align-items: center;
  width: 160px;
}
.active .desktop-nav-item-icon-container {
  border: 3px solid #fff;
}
.desktop-nav-item-icon-container {
  border: 1px solid #fff;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
}
.desktop-nav-item-icon-container img {
  width: 30px;
  height: 30px;
}
.desktop-nav-item-title {
  font-size: 19px;
  color: #fff;
  font-weight: 300;
  margin-right: 10px;
}
.desktop {
  overflow: hidden;
}
.toggle-desktop {
  position: absolute;
  bottom: 18px;
  right: 50%;
  transform: translateX(50%);
  width: 36px;
  height: 36px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.toggle-desktop.hide {
  opacity: 0;
  visibility: hidden;
}
.toggle-close {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.menu-icon {
  width: 30px;
  height: 20px;
}
.toggle-close.show {
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 900px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: flex;
  }
}
/* .desktop-title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
} */
